@use 'sass:color';

.button {
	background: #ffffff;
	border: 1px solid #f2f2f2;
	border-radius: 8px;
	height: 32px;
	width: 32px;
	cursor: pointer;
}

.search-block {
	border: 1px solid #f3f3f3;
	border-radius: 10px;
	padding: 0 15px;
	position: relative;

	.clear {
		position: absolute;
		right: 10px;
		width: 18px;
		height: 18px;
	}

	input {
		border: none;
		outline: none;
		font-size: 16px;
		padding: 13px;
		width: 200px;
	}
}

/* Drawer/Overlay responsive */
.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 50;
}

.drawer {
	position: absolute;
	width: 100%;
	max-width: 385px;
	height: 100%;
	right: 0;
	background: #ffffff;
	box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
	padding: 30px;
	display: flex;
	flex-direction: column;

	h2 {
		font-size: 24px;
		font-weight: 700;
	}
}

.cartTotlalBlock {
	ul {
		margin-bottom: 40px !important;

		li {
			display: flex;
			align-items: flex-end;
			margin-bottom: 20px;

			div {
				flex: 1;
				height: 1px;
				border-bottom: 1px dashed #dfdfdf;
				position: relative;
				top: -4px;
				margin: 0 7px;
			}
		}
	}

	.greenButton {
		position: relative;

		&:hover img {
			transform: translateX(10px);
		}

		img {
			position: absolute;
			right: 40px;
			top: 20px;
			transition: transform 0.42s ease-in-out;
		}
	}
}

.greenButton {
	width: 100%;
	height: 55px;
	background: #9dd558;
	border-radius: 18px;
	border: none;
	padding: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	transition: background 0.42s ease-in-out;
	cursor: pointer;

	&:hover {
		background: color.adjust(#9dd558, $lightness: 5%);
	}
	&:active {
		background: color.adjust(#9dd558, $lightness: -5%);
	}
}

.cartItem {
	border: 1px solid #f3f3f3;
	border-radius: 20px;
	padding: 15px;
	transition: transform 0.42s ease-in-out, box-shadow 0.42s ease-in-out;
	cursor: pointer;
	overflow: hidden;
	will-change: transform;

	&:hover {
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		transform: translateY(-2px);
	}

	p {
		font-size: 14px;
	}
	b {
		font-size: 12px;
	}

	.removeBtn {
		opacity: 0.4;
		transition: opacity 0.42s ease-in-out;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
	}
}
